<div class="cotn_principal">
  <div class="cont_centrar">
    <div class="cont_login">
      <div class="cont_forms cont_forms_active_login">
        <div class="cont_img_back_">
          <img src="../../assets/hd car1.jpg" alt="" />
        </div>
        <div class="cont_form_forgot_password">
          <h2>FORGOT PASSWORD</h2>
          <form (ngSubmit)="onSubmit(forgotPasswordForm)" #forgotPasswordForm="ngForm">
            <div class="form__group">
              <input type="email" class="form__input" id="email" placeholder="Email" name="email" ngModel required>
            </div>
            <button class="btn_login" type="submit" [disabled]="!forgotPasswordForm.valid">Submit</button>
          </form>
          <button class="btn_back mt-3" (click)="hiddenForgotPassword()">Back</button>
          <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
